
#proxima_viagem {
    color: #E95E10;
}

#amantes_de_historia {
    color: #E95E10;
}

.estilo-destaque {
    text-align: center;
}

.titulo {
    font-size: 32px;
    font-weight: bold;
}

#body {
    background-color: #D9D9D9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero-img {
    width: 100%;
    border-radius: 18px;
    display: block;
    margin: 24px 0;
}

.titulo {
    font-weight: bold;
    font-size: 24px;
    margin-top: 16px;
}

.section {
    margin-top: 48px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

footer {
    text-align: center;
    margin: 24px 0;
    font-size: 14px;
    color: #666;
}

li::marker {
    color:black;
}

.cor_laranja {
    color: orange;
}

.cor_vermelha {
    color: red;
}

.cor_roxa {
    color: purple;
}

.historia {
    color: blue;
}

#rodape {
    text-align: center;
}
